/*------------------- СПЕЦИФИКАЦИЯ -------------------*/
.clearfix:after {
	content: " ";
	display: table;
	width: 100%;
}

.container {
	width: 100%;
	max-width: 1239px;
	margin: 0 auto;
	box-sizing: border-box;
}

div
{
	box-sizing: border-box;
}

body {
	margin: 0;
}

p {
	margin: 0;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #202020;
}

img, svg
{
	max-width: 100%;
    height: auto;
}

.dn
{
	display: none;
}





/*------------------- HEADER -------------------*/
.header_topline_desctop
{
	border-bottom: 1px solid #F5F5F5;
}

.header_topline_content_desctop
{
	display: flex;
	align-items: center;
}

.header_topline_content_desctop > div
{
	min-height: 83px;
}

.header_topline_content_logo_desctop
{
	display: flex;
	align-items: center;
	padding: 0 19px;
	border-left: 1px solid #F5F5F5;
	border-right: 1px solid #F5F5F5;
}

.header_topline_content_cities_desctop
{
	display: flex;
	align-items: center;
	padding: 0 42.9px;
	border-right: 1px solid #F5F5F5;
	position: relative;
}

.header_topline_content_cities_desctop > div
{
	display: flex;
	align-items: center;
}

.header_topline_content_cities_desctop > div span:nth-child(2)
{
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	margin: 0 15px;
}

.header_topline_content_cities_desctop > div span:nth-child(3)
{
	display: flex;
	align-items: center;
}

.header_topline_content_cities_submenu_desctop
{
	position: absolute;
	top: 55px;
    left: 55px;
	background: #fff;
	border: 1px solid #202020;
	border-radius: 20px;
	padding: 20px;
}

.header_topline_content_cities_submenu_desctop li a
{
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
}

.header_topline_content_calculate_desctop
{
	display: flex;
	align-items: center;
	padding: 0 26px;
	border-right: 1px solid #F5F5F5;
}

.header_topline_content_calculate_desctop a
{
	display: flex;
	align-items: center;
}

.header_topline_content_calculate_desctop a span
{
	display: flex;
	align-items: center;
}

.header_topline_content_calculate_desctop a span:nth-child(1)
{
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	margin-right: 15px;
}	

.header_topline_content_socials_desctop
{
	border-right: 1px solid #F5F5F5;
	display: flex;
	flex-direction: column;
}

.header_topline_content_socials_desctop > a
{
	padding: 10px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_topline_content_socials_desctop > a span:nth-child(1)
{
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
}

.header_topline_content_socials_desctop > a span
{
	display: flex;
	align-items: center;
}

.header_topline_content_socials_desctop > div
{
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #F5F5F5;
}

.header_topline_content_socials_desctop > div a
{
	display: flex;
	align-items: center;
	padding: 7px 14px;
}

.header_topline_content_socials_desctop > div a:nth-child(1)
{
	border-right: 1px solid #F5F5F5;
}

.header_topline_content_socials_desctop > div a span
{
	display: flex;
	align-items: center;
	margin-right: 6px;
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
}

.header_topline_content_socials_desctop > div a span:last-child
{
	margin-right: 0px;
}

.header_topline_content_contact_desctop
{
	display: flex;
	flex-direction: column;
	border-right: 1px solid #F5F5F5;
}

.header_topline_content_contact_desctop > a
{
	padding: 0px 15px;
}

.header_topline_content_contact_desctop > a div
{
	padding: 8px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px dashed #F5F5F5;
}

.header_topline_content_contact_desctop > a span
{
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.header_topline_content_contact_desctop > a span:last-child
{
	margin-right: 0px;
}

.header_topline_content_contact_desctop > span
{
	padding: 8px 10px;
	color: #6A7181;
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
}

.header_bottomline_desctop
{
	border-bottom: 1px solid #F5F5F5;
}

.header_bottomline_desctop_content
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_bottomline_desctop_content ul
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 75%;
}

.header_bottomline_desctop_content ul li a
{
	display: flex;
	align-items: center;
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
}

.header_bottomline_desctop_content ul li a span
{
	display: flex;
	align-items: center;
}

.header_bottomline_desctop_content ul li a span:first-child
{
	margin-right: 15px;
}

.header_bottomline_desctop_content > a
{
	padding: 14px 27px;
	box-sizing: border-box;
	background: #CF0953;
	width: 19.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
	color: var(--ffffff, #FFF);
	font-family: "ManropeRegular";
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
}

.header_bottomline_desctop_content > a span
{
	display: flex;
	align-items: center;
}














.header_tablet
{
	display: none;
}

.header_tablet_topline
{
	border-bottom: 1px solid #F5F5F5;
}

.header_tablet_topline_content
{
	display: flex;
	align-items: center;
}

.header_tablet_topline_content > div
{
	min-height: 83px;
}

.header_tablet_topline_content_logo
{
	display: flex;
	align-items: center;
	padding: 0 10px;
	border-right: 1px solid #F5F5F5;
	border-left: 1px solid #F5F5F5;
}

.header_tablet_topline_content_logo a img
{
	width: 140px;
}

.header_tablet_topline_content_cities
{
	display: flex;
	align-items: center;
	padding: 0 9px;
	border-right: 1px solid #F5F5F5;
}

.header_tablet_topline_content_cities > div
{
	display: flex;
	align-items: center;
}

.header_tablet_topline_content_cities > div span
{	
	display: flex;
	align-items: center;
	color: #242C3C;
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
}

.header_tablet_topline_content_cities > div span:nth-child(2)
{
	margin: 0 10px;
}

.header_tablet_topline_content_calculate
{
	display: flex;
	align-items: center;
	border-right: 1px solid #F5F5F5;
	padding: 0 10px;
}

.header_tablet_topline_content_calculate a
{
	display: flex;
	align-items: center;
}

.header_tablet_topline_content_calculate a span
{
	display: flex;
	align-items: center;
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
}

.header_tablet_topline_content_calculate a span:first-child
{
	margin-right: 10px;
}

.header_tablet_topline_content_socials_contacts
{
	width: 45%;
}

.header_tablet_topline_content_socials_contacts > div
{
	display: flex;
	align-items: center;
}

.header_tablet_topline_content_socials_contacts_top a
{
	width: 50%;
	padding: 8px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-right: 1px solid #F5F5F5;
	border-bottom: 1px solid #F5F5F5;
    min-height: 49px;
}

.header_tablet_topline_content_socials_contacts_top a span
{
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
}


.header_tablet_topline_content_socials_contacts_top a span:first-child
{
	font-size: 13px;
}

.header_tablet_topline_content_socials_contacts_bottom > div
{
	display: flex;
	align-items: center;
	border: 1px solid #F5F5F5;
}

.header_tablet_topline_content_socials_contacts_bottom > div a
{
	padding: 7px 15px;
	display: flex;
	align-items: center;
}	

.header_tablet_topline_content_socials_contacts_bottom > div a:first-child
{
	border-right: 1px solid #F5F5F5;
}

.header_tablet_topline_content_socials_contacts_bottom > span
{
	padding: 7px 31px;
	color: var(--6-a-7181, #6A7181);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
}

.header_tablet_bottomline
{
	border-bottom: 1px solid #F5F5F5;
}

.header_tablet_bottomline_content
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_tablet_bottomline_content ul
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 65%;
}

.header_tablet_bottomline_content ul li a
{
	display: flex;
	align-items: center;
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
}

.header_tablet_bottomline_content ul li a span
{
	display: flex;
	align-items: center;
}

.header_tablet_bottomline_content ul li a span:first-child
{
	margin-right: 15px;
}

.header_tablet_bottomline_content > a
{
	padding: 14px 27px;
	box-sizing: border-box;
	background: #CF0953;
	width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
	color: var(--ffffff, #FFF);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
}

.header_tablet_bottomline_content > a span
{
	display: flex;
	align-items: center;
}







.header_mobile
{
	display: none;
}

.header_mobile_topline
{
	border-bottom: 1px solid #F5F5F5;
}

.header_mobile_topline_content
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_mobile_topline_content > div
{
	min-height: 35px;
}

.header_mobile_topline_content_burgermenunav
{
	display: flex;
	align-items: center;
	padding: 0 10px;
	border-left: 1px solid #F5F5F5;
	border-right: 1px solid #F5F5F5;
}

.header_mobile_topline_content_burgermenunav > div
{
	margin-right: 15px;
}

.header_mobile_topline_content_burgermenunav span
{
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
}

.header_mobile_topline_content_logo a
{
	display: flex;
    align-items: center;
    margin-top: 4px;
}

.header_mobile_topline_content_logo a img
{
	width: 140px;
}

.header_mobile_topline_content_links
{
	display: flex;
	align-items: center;
	border-left: 1px solid #F5F5F5;
	border-right: 1px solid #F5F5F5;
	padding: 0 10px;
}

.header_mobile_topline_content_links a
{
	margin-right: 15px;
}

.header_mobile_topline_content_links a:last-child
{
	margin-right: 0px;
}

.header_mobile_burgermenu
{
	background: #F2F4F6;
    overflow-y: scroll;
    height: calc(100vh - 100px);
}

.header_mobile_burgermenu::-webkit-scrollbar 
{
	width: 6px;
    height: 6px;
}
  
.header_mobile_burgermenu::-webkit-scrollbar-thumb 
{
	background-color: #CF0953;
	border-radius: 10px;
}

.header_mobile_burgermenu::-webkit-scrollbar-track 
{
	background-color: rgba(51, 51, 51, 0.1);
}

.header_mobile_burgermenu_conent
{
	border-left: 1px solid #E5EAF3;
	border-right: 1px solid #E5EAF3;
	padding: 30px 15px;
	box-sizing: border-box;
}

.header_mobile_burgermenu_conent_title
{
	margin-bottom: 10px;
}

.header_mobile_burgermenu_conent_title h2
{
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 24px;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
}

.header_mobile_burgermenu_conent_cities
{
	position: relative;
	margin: 0 auto;
	width: 50%;
	margin-bottom: 30px;
}

.header_mobile_burgermenu_conent_cities > div
{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 15px;
	border: 1px solid #E5EAF3;
}

.header_mobile_burgermenu_conent_cities > div span:nth-child(2)
{
	margin: 0 10px;
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
}

.header_mobile_burgermenu_conent_cities_submenu
{
	position: absolute;
	left: 90px;
}

.header_mobile_burgermenu_conent_cities_submenu li a
{
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
}

.header_mobile_burgermenu_conent_list
{
	margin-bottom: 15px;
}

.header_mobile_burgermenu_conent_list ul li:not(:last-child)
{
	margin-bottom: 7px;
}

.header_mobile_burgermenu_conent_list ul li a 
{
	display: flex;
	align-items: center;
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
}

.header_mobile_burgermenu_conent_list ul li a > div
{
	display: flex;
	align-items: center;
}

.header_mobile_burgermenu_conent_list ul li a > div span
{
	display: flex;
	align-items: center;
}

.header_mobile_burgermenu_conent_list ul li a > div span:last-child
{
	margin-left: 10px;
}

.conent_list_submenu
{
	margin-top: 7px;
	margin-bottom: 7px;
	padding: 0 15px;
}

.header_mobile_burgermenu_conent_calculate
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 10px 0px;
	border: 1px solid #E5EAF3;
	margin-bottom: 15px;
}

.header_mobile_burgermenu_conent_calculate span
{
	display: flex;
	align-items: center;
}

.header_mobile_burgermenu_conent_calculate span:first-child
{
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
}

.header_mobile_burgermenu_conent_calculate span:last-child
{
	margin-left: 20px;
}

.header_mobile_burgermenu_conent_socials
{
	margin-bottom: 15px;
}

.header_mobile_burgermenu_conent_socials > div:first-child
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 11px 15px;
	border: 1px solid #E5EAF3;
}

.header_mobile_burgermenu_conent_socials > div:first-child span
{
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
	display: flex;
	align-items: center;
}

.header_mobile_burgermenu_conent_socials > div:last-child
{
	display: flex;
	align-items: center;
}

.header_mobile_burgermenu_conent_socials > div:last-child a
{
	width: 50%;
}

.header_mobile_burgermenu_conent_socials > div:last-child a > div
{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 11px 15px;
	border: 1px solid #E5EAF3;
}

.header_mobile_burgermenu_conent_socials > div:last-child a > div span
{
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
	display: flex;
	align-items: center;
}

.header_mobile_burgermenu_conent_socials > div:last-child a > div span:first-child
{
	margin-right: 10px;
} 

.header_mobile_burgermenu_conent_phone
{
	width: 100%;
	border: 1px solid #E5EAF3;
	padding: 11px 15px;
	margin-bottom: 15px;
}

.header_mobile_burgermenu_conent_phone > div
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.header_mobile_burgermenu_conent_phone > div a
{
	display: flex;
	align-items: center;
}

.header_mobile_burgermenu_conent_phone > div a span
{
	display: flex;
	align-items: center;
}

.header_mobile_burgermenu_conent_phone > div:first-child
{
	padding-bottom: 5px;
}

.header_mobile_burgermenu_conent_phone > div:first-child a span
{
	color: #000;
	font-family: "ManropeRegular";
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
}

.header_mobile_burgermenu_conent_phone > div:first-child a span:not(:last-child)
{
	margin-right: 10px;
}

.header_mobile_burgermenu_conent_phone > div:last-child
{
	padding-top: 5px;
	border-top: 1px dashed #E5EAF3;
}

.header_mobile_burgermenu_conent_phone > div:last-child span:last-child
{
	color: var(--6-a-7181, #6A7181);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
}

.header_mobile_burgermenu_conent_link
{
	width: 100%;
	margin-bottom: 30px;
}

.header_mobile_burgermenu_conent_link a
{
	display: flex;
	align-items: center;
	padding: 11px 15px;
	background: #CF0953;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header_mobile_burgermenu_conent_link a span
{
	display: flex;
	align-items: center;
	color: var(--ffffff, #FFF);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
}

.header_mobile_burgermenu_conent_link a span:not(:last-child)
{
	margin-right: 10px;
}

.header_mobile_burgermenu_conent_catalog_title
{
	margin-bottom: 10px;
}

.header_mobile_burgermenu_conent_catalog_title h2 
{
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 24px;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}

.header_mobile_burgermenu_conent_catalog_items
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_mobile_burgermenu_conent_catalog_items > div h3
{
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 18px;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.header_mobile_burgermenu_conent_catalog_items > div ul li:not(:last-child)
{
	margin-bottom: 10px;
}	

.header_mobile_burgermenu_conent_catalog_items > div ul li a
{
	color: var(--6-a-7181, #6A7181);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
}

/*------------------- END HEADER -------------------*/





/*------------------- BLOCK 1 -------------------*/
.block_1
{
	border-bottom: 1px solid #E5EAF3;
}

.block_1_content
{
	border-left: 1px solid #E5EAF3;
	border-right: 1px solid #E5EAF3;
}

.block_1_content_top
{
	display: flex;
	justify-content: space-between;
}

.block_1_content_top > div:first-child
{
	background: #F7F7F9;
	padding: 39px 30px 0px 30px;
	width: 43%;
}

.block_1_content_top > div:first-child h2
{
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 42px;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.block_1_content_top > div:first-child h2 span
{
	color: var(--cf-0953, #CF0953);
}

.block_1_content_top > div:first-child > span
{
	color: var(--6-a-7181, #6A7181);
	font-family: "ManropeRegular";
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
}

.block_1_content_top > div:first-child > form
{
	padding: 32px 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin-top: 35px;
}

.block_1_content_top > div:first-child > form > div:first-child
{
	margin-bottom: 10px;
}

.block_1_content_top > div:first-child > form > div:first-child h3
{
	color: var(--ffffff, #FFF);
	font-family: "ManropeSemibold";
	font-size: 24px;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.block_1_content_top > div:first-child > form > div:first-child span
{
	color: #FFF;
	font-family: "ManropeMedium";
	font-size: 13px;
	font-weight: 500;
	line-height: normal;
}

.block_1_content_top > div:first-child > form input
{	
	background: var(--e-5-eaf-3, #F9FBFF);
    padding: 11px 15px;
    border: none;
    box-shadow: none;
    color: var(--style, #242C3C);
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
	outline: none;
	margin-bottom: 15px;
}

.block_1_content_top > div:first-child > form input::placeholder
{
	color: var(--Style, #242C3C);
	font-family: "ManropeRegular";
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
}

.block_1_content_top_form_subtext
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}

.block_1_content_top_form_subtext span
{
	color: var(--cfd-7-e-3, #F7F7F9);
	font-family: "ManropeMedium";
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
}

.block_1_content_top_form_subtext span:last-child
{
	font-size: 20px;
	text-transform: uppercase;
}

.block_1_content_top > div:first-child > form button
{
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--style, #242C3C);
	padding: 11px 0px;
	font-size: 16px;
	cursor: pointer;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	transition: 0.3s;
	border: none;
	margin-bottom: 15px;
}

.block_1_content_top > div:first-child > form button span
{
	display: flex;
	align-items: center;
}

.block_1_content_top > div:first-child > form button span:first-child
{
	color: var(--ffffff, #FFF);
	font-family: "ManropeRegular";
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
}

.block_1_content_top > div:first-child > form button span:last-child
{
	margin-left: 10px;
}

.block_1_content_top > div:first-child > form > span
{
	display: inline-block;
	color: #FFF;
	text-align: center;
	font-family: "ManropeRegular";
	font-size: 10px;
	font-weight: 400;
	line-height: normal;
}

.block_1_content_top > div:last-child
{
	width: 58%;
	display: flex;
}

.block_1_content_bottom
{
	padding: 16px 30px;
}

.block_1_content_bottom ul
{
	display: flex;
	justify-content: space-between;
}

.block_1_content_bottom ul li
{
	display: flex;
	align-items: center;
}

.block_1_content_bottom ul li span
{
	color: var(--Style, #242C3C);
	font-family: "ManropeMedium";
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
}

.block_1_content_bottom ul li span:first-child
{
	margin-right: 25px;
}


/*------------------- ADAPTIVE BLOCK 1 -------------------*/
.block_1_mobile
{
	display: none;
	border-bottom: 1px solid #E5EAF3;
}

.block_1_mobile_content_title 
{
	padding: 30px 15px;
}

.block_1_mobile_content_title h2
{
	font-family: "ManropeBold";
	font-size: 28px;
	font-weight: 700;
	line-height: 38px;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.block_1_mobile_content_title h2 span
{
	color: #CF0953;
}

.block_1_mobile_content_title > span
{
	display: block;
	color: rgb(106, 113, 129);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
	margin-bottom: 15px;
}

.block_1_mobile_content_title > a 
{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 11px 0px;
	border: 1px solid #A9ADB5;
}

.block_1_mobile_content_title > a span
{
	display: flex;
	align-items: center;
	color: rgb(36, 44, 60);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}

.block_1_mobile_content_title > a span:first-child
{
	margin-right: 10px;
}

.block_1_mobile_content form
{
	padding: 15px;
	display: flex;
	flex-direction: column;
}

.block_1_mobile_content_form_title
{
	margin-bottom: 10px;
}

.block_1_mobile_content_form_title h3
{
	color: rgb(255, 255, 255);
	font-family: "ManropeSemibold";
	font-size: 18px;
	font-weight: 600;
	line-height: 25px;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.block_1_mobile_content_form_title span
{
	color: rgb(255, 255, 255);
	font-family: "ManropeMedium";
	font-size: 11px;
	font-weight: 500;
	line-height: 15px;
	text-align: left;
}

.block_1_mobile_content form input
{
	margin-bottom: 15px;
	padding: 11px 0px 11px 15px;
	outline: none;
	border: none;
	background: rgb(249, 251, 255);
	color: rgb(36, 44, 60);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}

.block_1_mobile_content form input::placeholder
{
	color: rgb(36, 44, 60);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}

.block_1_mobile_content_form_price
{
	/* display: flex;
	justify-content: space-between;
	align-items: center; */
	margin-bottom: 15px;
}

.block_1_mobile_content_form_price span
{
	display: inline-block;
	font-family: "ManropeMedium";
	font-size: 16px;
	font-weight: 500;
	line-height: 0px;
	text-align: left;
	color: rgb(249, 251, 255);
}

.block_1_mobile_content form button
{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000;
	border: none;
	outline: none;
	padding: 11px 0px;
	margin-bottom: 15px;
}

.block_1_mobile_content form button span
{
	display: flex;
	align-items: center;
	color: rgb(249, 251, 255);
}

.block_1_mobile_content form button span:first-child
{
	margin-right: 10px;
}

.block_1_mobile_content form > span
{
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: "ManropeRegular";
	font-size: 10px;
	font-weight: 400;
	line-height: 14px;
}

.block_1_mobile_content ul 
{
	padding-top: 15px;
	border-left: 1px solid #E5EAF3;
	border-right: 1px solid #E5EAF3;
}

.block_1_mobile_content ul li
{
	display: flex;
	align-items: center;
	padding: 15px 10px;
	border-bottom: 1px solid #E5EAF3;
}

.block_1_mobile_content ul li:last-child
{
	border: none;
}

.block_1_mobile_content ul li span
{
	display: flex;
	align-items: center;
	color: rgb(36, 44, 60);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 500;
	line-height: 18px;
}

.block_1_mobile_content ul li span:first-child
{
	margin-right: 10px;
}
/*------------------- END BLOCK 1 -------------------*/





/*------------------- BLOCK 2 -------------------*/
.block_2
{
	border-bottom: 1px solid #E5EAF3;
}

.block_2_content
{
	position: relative;
	padding: 40px 0px 60px 0px;
	border-left: 1px solid #E5EAF3;
	border-right: 1px solid #E5EAF3;
}

.block_2_slider_item
{
	display: flex !important;
}

.block_2_slider_item > div:last-child
{
	width: 50%;
	padding: 60px 60px 60px 33px;
	background: #F7F7F9;
}

.block_2_slider_item_title span
{
	display: inline-block;
	color: rgb(207, 9, 83);
	font-family: "ManropeMedium";
	font-size: 20px;
	font-weight: 500;
	line-height: 27px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.block_2_slider_item_title h2
{
	color: rgb(36, 44, 60);
	font-family: "ManropeSemibold";
	font-size: 36px;
	font-weight: 600;
	line-height: 49px;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.block_2_slider_item_img
{
	display: flex;
}

.block_2_slider_item_img_mob
{
	display: none;
	width: 50%;
	
}

.block_2_slider_item > div:last-child > span
{
	display: inline-block;
	color: rgb(106, 113, 129);
	font-family: "ManropeRegular";
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.block_2_slider_item > div:last-child a
{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 11px 0px;
	background: rgb(207, 9, 83);
	color: rgb(255, 255, 255);
	font-family: "ManropeRegular";
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin-top: 20px;
}

.block_2_slider_item > div:last-child a span
{
	display: flex;
	align-items: center;
}

.block_2_slider_item > div:last-child a span:last-child
{
	margin-left: 10px;
}

.block_2_slider_btn_prev
{
	position: absolute;
	bottom: 38px;
	left: 20px;
	cursor: pointer;
}

.block_2_slider_btn_next
{
	position: absolute;
	bottom: 38px;
	right: 20px;
	cursor: pointer;
}

.slick-dots 
{
    bottom: -46px;
}

.slick-dots li
{
	margin: 0px;
	margin-right: 10px;
}

.slick-dots li:last-child
{
	margin: 0px;
	margin-right: 0px;
}

.slick-dots li
{
	content: " ";
	opacity: 1 !important;
	width: 8px;
	height: 8px;
	background: #6A7181;
	border-radius: 8px;
}

.slick-dots li.slick-active 
{
	opacity: 1 !important;
	background: #CF0953;
}

.slick-dots li button:before
{
	opacity: 0px !important;
	color: #FFF;
}

.slick-dots li.slick-active button:before
{
	opacity: 0px !important;
	color: #FFF;
}


/*------------------- ADAPTIVE BLOCK 2 -------------------*/
.block_2_mobile
{
	display: none;
	padding: 0px 15px;
	margin-bottom: 100px;
	border-bottom: 1px solid #E5EAF3;
}

.block_2_content_mobile
{
	padding: 40px 0px;
	border-left: 1px solid #E5EAF3;
	border-right: 1px solid #E5EAF3;
	position: relative;
}

.block_2_content_mobile_slider_item > div:first-child img
{
	width: 100%;
}	

.block_2_content_mobile_slider_item > div:last-child
{
	padding: 30px 10px;
	background: #F7F7F9;
}

.block_2_content_mobile_slider_item_title span
{
	display: inline-block;
	color: rgb(207, 9, 83);
	font-family: "ManropeSemibold";
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.block_2_content_mobile_slider_item_title h2
{
	color: rgb(36, 44, 60);
	font-family: "ManropeSemibold";
	font-size: 24px;
	font-weight: 600;
	line-height: 33px;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.block_2_content_mobile_slider_item > div:last-child > span
{
	display: inline-block;
	color: rgb(106, 113, 129);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
	margin-bottom: 12px;
}

.block_2_content_mobile_slider_item > div:last-child a
{
	background: rgb(207, 9, 83);
	display: flex;
	align-items: center;
	justify-content: center;
}

.block_2_content_mobile_slider_item > div:last-child a span
{
	display: flex;
	align-items: center;
	padding: 11px 0px;
	color: rgb(255, 255, 255);
	font-family: "ManropeRegular";
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}

.block_2_content_mobile_slider_item > div:last-child a span:last-child
{
	margin-left: 10px;
}

.block_2_mobile .slick-dots
{
	bottom: -36px;
}

.block_2_content_mobile_slider_btn_prev
{
	position: absolute;
	bottom: 28px;
	left: 15px;
}

.block_2_content_mobile_slider_btn_next
{
	position: absolute;
	bottom: 28px;
	right: 15px;
}
/*------------------- END BLOCK 2 -------------------*/