@media screen and (max-width: 1240px)
{
    .container 
    {
        max-width: 900px;
    }

    .header_desctop
    {
        display: none;
    }

    .header_tablet
    {
        display: block;
    }

    .block_1_content_top > div:first-child h2 
    {
        font-size: 28px;
    }

    .block_1_content_top > div:first-child 
    {
        width: 51%;
    }

    .block_1_content_top > div:last-child
    {
        width: 48%;
    }
    
    .block_1_content_bottom ul li span 
    {
        font-size: 14px;
    }
}

@media screen and (max-width: 1000px)
{
    .header_tablet
    {
        display: none;
    }

    .header_mobile
    {
        display: block;
    }

    .container 
    {
        max-width: 600px;
    }

    .block_1
    {
        display: none;
    }

    .block_1_mobile
    {
        display: block;
    }
}

@media screen and (max-width: 400px)
{
    .header_mobile_topline_content_logo a img
    {
        width: 125px;
    }

    .header_mobile_topline_content_links a 
    {
        margin-right: 5px;
    }

    .header_mobile_topline_content_burgermenu 
    {
        padding: 0 5px;
    }

    .header_mobile_topline_content_burgermenu > div {
        margin-right: 7px;
    }

    .header_mobile_topline_content_links 
    {
        padding: 0 5px;
    }

    .header_mobile_burgermenu_conent_cities 
    {
        width: 100%;
    }

    .block_1_mobile_content_title h2 
    {
        font-size: 24px;
        line-height: 34px;
    }

    .block_1_mobile_content_title > span 
    {
        font-size: 12px;
    }

    .block_1_mobile_content form > span br
    {
        display: none;
    }
}